{% extends "index.html" %}

{% block title %}{{ SITENAME }} - Archives{% endblock %}

{% block content %}
<h1>Archives</h1>
{% for year, year_dates in dates|groupby( 'date.year' )|reverse %}
<h2>{{ year }}</h2>
<table class="table">
    <tbody>
      {% for article in year_dates %}
        <tr>
        <td><span class="archive-meta">{{ article.locale_date }}</span></td>
        <td>
	  <a href='{{ SITEURL }}/{{ article.url }}'>{{ article.title }}</a>
	  &nbsp;&nbsp;<span class="archive-meta"><i class="fa fa-tags"></i> <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a></span>
	  {% if article.tags %}
	  <span class="archive-meta">
	      <i class="fa fa-tag"></i> {% for tag in article.tags %}
	      <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
	      </span>
	      {% endfor %}
	      {% endif %}
	</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endfor %}
{% endblock content %}
