{% extends "index.html" %}

{% block title %}{{ SITENAME }} - Archives{% endblock %}

{% block content %}
<h1>Archives</h1>
{% for year, year_dates in dates|groupby( 'date.year' )|reverse %}
<h2>{{ year }}</h2>
<table class="table">
    <tbody>
      {% for article in year_dates %}
        <tr>
        <td>{{ article.locale_date }}</td>
        <td><a href='{{ SITEURL }}/{{ article.url }}'>{{ article.title }}</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endfor %}
{% endblock content %}
