<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">

<head>
  {% include "_includes/head.html" %}
</head>

<body>

  <!-- Navigation -->
  {% include "_includes/nav.html"%}

    {% block header %}{% endblock header %}

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {% block content %}{% endblock content %}
            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    {% include "_includes/footer.html"%}
    <!-- jQuery -->
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/clean-blog.js"></script>
</body>

</html>
